body{
	/*background-color: #7c7000;*/
	color: #fff;
}

.carouselWrapper article{
	width: 20%;
}

.thumb img{
	max-height: 1000px;
	width: 90%;
	margin-top: 10px;
}

@keyframes gofront {
	10% {--vr-z: 0.01;}
	20% {--vr-z: 0.02;}
	30% {--vr-z: 0.03;}
	40% {--vr-z: 0.04;}
	50% {--vr-z: 0.05;}
	60% {--vr-z: 0.06;}
	70% {--vr-z: 0.07;}
	80% {--vr-z: 0.08;}
	90% {--vr-z: 0.09;}
    100% {--vr-z: 0.1;}
}

.thumb .hover{
	/*--vr-z: 0.1;*/
	animation: gofront 0.1s forwards;
}

.thumb{
	float: left;
}

#ovrVOD{
	width: 700px;
	--vr-position: absolute;
	--vr-z: 0.5;
	--vr-x: 0;
	--vr-y: .1;
}

.fiche .label{
	font-weight: bold;
	float: left;
	width: 20%;
}

.fiche .value{
	float: left;
	width: 80%;
}

#ovrVOD .image ,.popupinfo{
	float: left;
}

#ovrVOD .image{
	width: 30%;
}

.popupinfo{
	width: 65%;
	overflow: hidden;
	margin-left: 12px;
}

.info{
	overflow: hidden;
}

.info .spec{
	clear:both;
	overflow: hidden;
	width: 100%;
}

.info .spec p{
	margin-top: 10px;
	margin-bottom: 10px;
}

.overlay .main .wrap .description{
	clear: both;
	padding-top: 10px;
}

.overlay .main .wrap{
	overflow: hidden;
}

.overlay{
	padding: 2%;
	background-color: #272727;
	border-radius: 1%;
}

.overlay .iconList ul{
	list-style: none;
	overflow: hidden;
	padding: 0;
}

.overlay .iconList ul li{
	float: left;
	margin-right: 5px;
}

.overlay .titleWrap h1{
	margin: 0;
	font-size: 40px;
}

.popupheader{
	font-size: 50px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fadein{
    animation: fadein 0.8s forwards;
}

#navigation{
	width: 100%;
}

#navigation .sub{
	--vr-position: absolute;
	--vr-x:-0.8;
	--vr-y:0.6;
	--vr-z:-0.6;
	--vr-rotate:0 80 0;
}

#subnav {
	width: 300px;
	list-style: none;
	font-size: 30px;
	padding: 0;
}

#subnav li a{
	text-decoration: none;
	color: #fff;
	width:100%;
}

#subnav .active a, #subnav .hover, #subnav .hover a{
	color: #ffc421;
}

.speelnuknop{
	width: 100px;
	height: 34px;
	margin: auto;
	background-image: url('img/kijknu-noactive.svg');
}

.speelnuknop.hover{
	background-image: url('img/kijknu-active.svg');
}

.carouselheader{
	background: black;
}

.carouselheader span{
	font-size: 40px;
}

.carouselheader .collaps-img{
	width: 40px;
	height: 40px;
	float: right;
	background-image: url('img/uitklap-noactive.svg');
	transform: rotate(180deg);
}

.carouselheader.hover .collaps-img{
	background-image: url('img/uitklap-active.svg');
}

.carouselheader.hover{
	background-color:#4f4c00;
}

.carouselMain{
	max-height: 1000px;
}

@keyframes collaps {
    to   { max-height: 0; }
}

@keyframes imgcollaps {
    to   { max-height: 0; opacity: 0.5; }
}

.collaps .carouselMain{
	animation: collaps 1s forwards;
}

.collaps .carouselMain .carouselWrapper img{
	animation: imgcollaps 0.8s forwards;
}

@keyframes decollaps {
	from { max-height: 0; }
    to   { max-height: 1000; }
}

@keyframes imgdecollaps {
	from { max-height: 0; opacity: 0.5;}
    to   { max-height: 1000; opacity: 1;}
}

.decollaps .carouselMain{
	animation: decollaps 1s forwards;
}

.decollaps .carouselMain .carouselWrapper img{
	animation: imgdecollaps 1.2s forwards;
}

/*Rotating klap knoppen*/
@keyframes klaprotate {
	from { transform: rotate(180deg); }
    to   { transform: rotate(0deg); }
}

.collaps header .collaps-img{
	animation: klaprotate 0.8s forwards;
}

@keyframes deklaprotate {
	from { transform: rotate(0deg); }
    to   { transform: rotate(180deg); }
}

.decollaps header .collaps-img{
	animation: deklaprotate 0.8s forwards;
}